.books_page {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
}

.Sidebar {
    background-color: antiquewhite;
    height: 100vh;
    width: 250px;
    
}

.books_container {
    flex-grow: 1;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    padding-top: 20px;
}

h1 {
    text-align: center;
    color: white;
}

.book_item_container {
    width: 60%; 
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book_item {
    
}

.books_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}