html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: antiquewhite;
    height: 100vh;
    width: 250px;
    position: fixed; /* Sidebar stays in place during scrolling */
    overflow-y: auto; /* Add scrollbar to sidebar if content overflows */
}


.sidebarlist{
    height: auto;
    padding: 0;
    width: 100%;
    
}

.sidebarlist .row{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    list-style-type: none;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}

.sidebar .row:hover{
    cursor: pointer;
    background-color: rgb(163, 150, 132);
}